
.ArrayContainer {
  width: 1000px;
}
.Row {
  display: flex;
  height: 20px;
}
.Element {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Word {
  background: rgba(236, 100, 75, .4);
}
