@keyframes blink {
  to {color: transparent}
}

.word {
  font-size: 1.9vh;

}
.word:hover {
  cursor: pointer;
  color: #EC644B;
}

.WordBank {
  width: 20vw;
  height: 90vh;
  position: absolute;
  left: 5vw;
  background: linear-gradient(to left, #e9ece5, gainsboro);
  top:10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 5px solid #3b3a36;
}

.WordBank > h3 {
  font-size: 30px;
  color: #3b3a36;
  transition: .5s;
}
.WordBank > h1 {
  position: absolute;
  top: 2em;
  font-size: 1.2em;
  color: #3b3a36;
  transition: .5s;
  opacity: 0;

}
.WordBank:hover > h3 {
  opacity: 0;
}
.WordBank:hover > h1 {
  transition-delay: .5s;
  opacity: 1;
  animation: blink 1s linear infinite alternate;
  animation-delay: .5s;
}

.WordBank > ul {
  position: absolute;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 85%;
  top: 10vh;
  height: 60vh;
  padding-left: 3vh;
  left: 3vh;
  user-select: none;
  box-shadow: -3px 0px 50px -16px black;
  padding-top: 10px;
  border-radius: 10px;
}

.WordBank > div > p {
  color: black;
  font-size: 3vh;
  margin-right: 10%;
  cursor: pointer;
}

.activeBtn {
  background: #EC644B;
  color: white;
  cursor: pointer;
}
.activeBtn:hover {
  font-size: 18.6px;
  opacity: 1;
  width: 61%;
  height: 7.1vh;
  box-shadow: -3px 0px 70px -16px black;
}

.inactiveBtn {
  cursor: default;
  background: darkgrey;
  color: grey;
  transition: .5s;

}
.Btn {
  border-radius: 10px;
  width: 60%;
  height: 7vh;
  font-size: 1.3em;
  font-weight: 900;
  letter-spacing: 1px;
  border: none;
  position: absolute;
  bottom: 50px;
  z-index: 2;
  opacity: .8;
}
