.CWCell {
  margin: 0;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CWCell > p {
  user-select: none;
}

.WordStart {
    background: #EC644B;
}

.CrosswordWrapper {
  display: flex;
  position: relative;
  height:100%;
  width: 100%;
  overflow: auto;
}

.Filled {
  border: 1px solid black;
}
