.CWCell {
  margin: 0;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
}


.CrosswordWrapper {
  display: flex;
  position: relative;
  height:100%;
  width: 100%;
}


.Filled {
  border: 1px solid black;
}
