@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.glyphicon {
  font-size: 2.5em;
  color: #edf5e1;
  transition: .2s;
}
.Container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #e3e3e3;
  height: 100%;
  width: 5vw;
}
.SideBar {
  position: absolute;
  top: 13vh;
  height: 60%;
  width: 100%;
}
.Button {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 20%;
  background: #3b3a36;
  transition: .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgba(0,0,0,.2);
  user-select: none;
}
.Button:hover .tooltip {opacity:1;}
.Button:hover .glyphicon {opacity:.1;}

.Button:active {
  background: rgba(0,0,0,.5);
  transition: .001s;
}


.tooltip {
  position: absolute;
  opacity: 0;
  font-size: 2em;
  color: #edf5e1;
  transition: .2s;

}
.ModeText {
  position: absolute;
  opacity: 1;
  font-size: 2em;
  color: #edf5e1;
  transition: .2s;
}
.Save {
  border: none;
}
@media screen and (max-width: 2000px) {
   .tooltip, .ModeText {
      font-size: 1.4em;
   }

}
