.AddWordBar {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10vh;
  width: 100vw;
  background: #379683;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.AddWordBar>input {
  background: #05386b;
  /* border: ; */
  /* border-radius: 10%; */
  padding-left: 2%;
  width: 50%;
  height: 60%;
  border-radius: 50px;
  /* padding: right; */
  color: #EDF5E1;
  font-size: 3.5vh;
  font-weight: bold;
  border:3px solid #05386b;
  /* border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .39), 0 -1px 1px #FFF, 0 1px 0 #FFF; */
}

.AddWordBar>input::placeholder {
  color: rgba(237,245,225, .5);
}



.AddWordBar>button {
  border-radius: 50%;
  margin-left: .5vw;
  margin-right: .5vw;
  width: 5vh;
  height: 5vh;
  border: none;
  color: white;
  font-size: 3.5vh;
  background: #05386b;

}
