@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@keyframes blinker {
  to {opacity: 1}
}
html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Varela Round', sans-serif;
}

.Warning {
  position: absolute;
  font-size: 3em;
  letter-spacing: 2px;
  font-weight: 900;
  background: radial-gradient(to center, white, #3b3a36);
  color: #3b3a36;
  width: 100%;
  z-index: 5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.ContentWrapper {
  position: absolute;
  z-index: 2;
  top: 10vh;
  left: 24.9vw;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, #e9ece5, lightgrey);
  display: flex;
  justify-content: center;
  align-items: center;

}
