@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Varela Round', sans-serif;
}

.ContentWrapper {
  position: absolute;
  top: 10vh;
  left: 24.9vw;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, #e9ece5, lightgrey);

}
